.App-logo {
    height: 40vmin;
    pointer-events: none;
    margin-top: 25%;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
}
.App-header {
    background-color: #0a1937;
    min-height: 50vh;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.github {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
}
.linkedin {
    position: absolute;
    top: 20px;
    right: 75px;
    color: #fff;
}
.instagram {
    position: absolute;
    top: 20px;
    right: 120px;
    color: #fff;
}
.facebook {
    position: absolute;
    top: 20px;
    right: 155px;
    color: #fff;
}
.github:active {
    color: rgba(27, 127, 27);
}
.linkedin:active {
    color: rgba(27, 127, 27);
}
.instagram:active {
    color: rgba(27, 127, 27);
}
.facebook:active {
    color: rgba(27, 127, 27);
}
@keyframes App-logo-spin {
  from {
      transform: rotateY(0deg);
 }
  to {
      transform: rotateY(360deg);
 }
}
.container {
    background-color: #0a1937;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-size: 80px;
    color: #fff;
}
.containerInput {
    padding: 15px;
    margin: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid rgba;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.6);
}
.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}
.containerInput input::placeholder {
    color: #F1f1f1;
}
.btnSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.btnSearch:hover {
    transform: scale(1.2);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 500px;
    border-radius: 8px;
}
.main h2 {
    margin: 16px 0;
    font-size: 40px;
}
.main span {
    margin-bottom: 15px;
    font-weight: bold;
}
@media (max-width: 620px) {
    .title {
        font-size: 60px;
    }
    .main h2 {
        font-size: 26px;
    }
    .main {
        width: 80%;
        min-height: 250px;
    }
}
@media (max-width: 400px) {
    .title {
        font-size: 40px;
    }
    .main h2 {
        font-size: 20px;
    }
    .main {
        width: 40%;
        min-height: 250px;
    }
    .containerInput {
        width: 80%;
    }
}



  
